/* taustan väri */
.navbar-custom {
    background-color: blueviolet;
    }
/* tekstin väri */
.navbar-custom .navbar-text{
    color:#FFFFFF;
    }
/* linkin väri */
.navbar-custom .navbar-nav .nav-link {
    color:#FFFFFF;
    }
/* aktiivisen & hover-linkin väri */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    }
/* siirtää sisällön navin alta näkyviin */
body {
    padding-top: 70px;
    }
/* Karusellin kuvat saman korkuisiksi */
.carousel-inner img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    }
/* Karusellin tekstin tausta */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 25px;
    border-radius: 25px;

    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: auto;
    display; inline-block;
    }