/* taustan v채ri */
.navbar-custom {
    background-color: blueviolet;
    }
/* tekstin v채ri */
.navbar-custom .navbar-text{
    color:#FFFFFF;
    }
/* linkin v채ri */
.navbar-custom .navbar-nav .nav-link {
    color:#FFFFFF;
    }
/* aktiivisen & hover-linkin v채ri */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    }
