/* taustan väri */
.navbar-custom {
    background-color: blueviolet;
    }
/* tekstin väri */
.navbar-custom .navbar-text{
    color:#FFFFFF;
    }
/* linkin väri */
.navbar-custom .navbar-nav .nav-link {
    color:#FFFFFF;
    }
/* aktiivisen & hover-linkin väri */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    }
/* siirtää sisällön navin alta näkyviin */
body {
    padding-top: 70px;
    }
